<nav>
	<a routerLink="/home" routerLinkActive="selected">Home</a>
  <a routerLink="/button" routerLinkActive="selected">Button</a>
  <a routerLink="/combobox" routerLinkActive="selected">Combobox</a>
  <a routerLink="/datepicker" routerLinkActive="selected">Date Picker</a>
  <a routerLink="/dropdown" routerLinkActive="selected">Dropdown</a>
  <a routerLink="/loading" routerLinkActive="selected">Loading</a>
  <a routerLink="/modal" routerLinkActive="selected">Modal</a>
  <a routerLink="/progress-indicator" routerLinkActive="selected">Progress Indicator</a>
  <a routerLink="/radio" routerLinkActive="selected">Radio</a>
  <a routerLink="/checkbox" routerLinkActive="selected">Checkbox</a>
  <a routerLink="/search" routerLinkActive="selected">Search</a>
  <a routerLink="/side-navigation" routerLinkActive="selected">Side Navigation</a>
  <a routerLink="/notification" routerLinkActive="selected">Notification</a>
  <a routerLink="/select" routerLinkActive="selected">Select</a>
  <a routerLink="/tab" routerLinkActive="selected">Tab</a>
  <a routerLink="/table" routerLinkActive="selected">Table</a>
  <a routerLink="/textarea" routerLinkActive="selected">Textarea</a>
  <a routerLink="/tile" routerLinkActive="selected">Tile</a>
  <a routerLink="/tooltip" routerLinkActive="selected">Tooltip</a>
</nav>