<div ibmGrid class="demo-list">
	<div ibmRow class="one-demo">
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 4, 'sm': 4}">
			<button ibmButton="primary" size="sm">Primary</button>
			<button ibmButton="secondary" size="sm">Secondary</button>
			<button ibmButton="tertiary" size="sm">Tertiary</button>
			<button ibmButton="danger" size="sm">Tertiary</button>
		</div>
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 4, 'sm': 4}">
			<h4>Normal Buttons</h4>
		</div>
	</div>
	<div ibmRow class="one-demo">
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 4, 'sm': 4}">
			<button ibmButton="primary" size="sm">
        Primary
        <svg icon ibmIconAdd size="16" class="bx--btn__icon"></svg>
      </button>
			<button ibmButton="secondary" size="sm">
        Secondary
        <svg icon ibmIconSubtract size="16" class="bx--btn__icon"></svg>
      </button>
			<button ibmButton="tertiary" size="sm">
        Tertiary
        <svg icon ibmIconSave size="16" class="bx--btn__icon"></svg>
      </button>
			<button ibmButton="danger" size="sm">
        Tertiary
        <svg icon ibmIconDelete size="16" class="bx--btn__icon"></svg>
      </button>
		</div>
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 4, 'sm': 4}">
			<h4>Buttons with icon</h4>
		</div>
	</div>
	<div ibmRow class="one-demo">
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 4, 'sm': 4}">
			<button ibmButton="primary" size="field" class="bx--btn--icon-only">
        <svg icon ibmIconDelete size="16" class="bx--btn__icon"></svg>
      </button>
      <button ibmButton="secondary" size="field" class="bx--btn--icon-only">
        <svg icon ibmIconDelete size="16" class="bx--btn__icon"></svg>
      </button>
      <button ibmButton="tertiary" size="field" class="bx--btn--icon-only">
        <svg icon ibmIconDelete size="16" class="bx--btn__icon"></svg>
      </button>
      <button ibmButton="danger" size="field" class="bx--btn--icon-only">
        <svg icon ibmIconDelete size="16" class="bx--btn__icon"></svg>
      </button>
      <button ibmButton="ghost" size="field" class="bx--btn--icon-only">
        <svg icon ibmIconDelete size="16" class="bx--btn__icon"></svg>
      </button>
		</div>
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 4, 'sm': 4}">
			<h4>Buttons with icon</h4>
		</div>
	</div>
</div>