<div ibmGrid class="demo-list">
	<div ibmRow class="one-demo">
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 4, 'sm': 4}">
			<button ibmButton (click)="openParentModal()">Open Parent Modal</button>

			<ibm-modal id="parent-modal" [open]="isParentOpen">
				<ibm-modal-header (closeSelect)="closeParentModal()">
					<h3 ibmModalHeaderHeading>Parent Modal</h3>
				</ibm-modal-header>
				<section ibmModalContent>
					<button ibmButton (click)="openChildModal()">Open Child Modal</button>
				</section>
				<ibm-modal-footer>
					<button ibmButton="secondary" (click)="closeParentModal()">Cancel</button>
					<button ibmButton="danger" modal-primary-focus>Delete</button>
				</ibm-modal-footer>
			</ibm-modal>

			<ibm-modal id="child-modal" [open]="isChildOpen">
				<ibm-modal-header (closeSelect)="closeChildModal()">
					<h3 ibmModalHeaderHeading>Child Modal</h3>
				</ibm-modal-header>
				<section ibmModalContent>
					<button ibmButton (click)="openGrandChildModal()">Open Grandchild Modal</button>
				</section>
				<ibm-modal-footer>
					<button ibmButton="secondary" (click)="closeChildModal()">Cancel</button>
					<button ibmButton="danger" modal-primary-focus>Delete</button>
				</ibm-modal-footer>
			</ibm-modal>

			<ibm-modal id="grandchild-modal" [open]="isGrandChildOpen">
				<ibm-modal-header (closeSelect)="closeGrandChildModal()">
					<h3 ibmModalHeaderHeading>Grandchild Modal</h3>
				</ibm-modal-header>
				<section ibmModalContent>
				</section>
				<ibm-modal-footer>
					<button ibmButton="secondary" (click)="closeGrandChildModal()">Cancel</button>
					<button ibmButton="danger" modal-primary-focus>Delete</button>
				</ibm-modal-footer>
			</ibm-modal>
		</div>
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 4, 'sm': 4}">
			<h4></h4>

		</div>
	</div>
</div>